.container{
    display: flex;
    margin-top: 20px;
   
   }
   
   .box1{
    width:50px;
    height:80px;
    border-style: solid;
    border-color: rgb(231, 73, 11);
    margin: 2px;
    padding: 2px;
   
   }
   
   .box2{
    width:50px;
    height:80px;
    border-style: solid;
    border-color:gainsboro;
    margin: 2px;
    padding: 2px;
   
   }
   .box3{
    width:50px;
    height:80px;
    border-style: solid;
    border-color: green;
    margin: 2px;
    padding: 2px;
   
   }